
body{
 font-family: Barlow,sans-serif;
}

.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #027368;
  color:white;
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.movie{
  display:flex;
  padding:20px;
}

.movie_title{
  flex-grow: 1;
}

.movie_title{
  flex-grow: 1;
}

.movie_rating{
  flex-grow: 1;
}

.Details_container{
  display:flex;
  flex-wrap: wrap;
  height: 100%;
}

.Details_container img{
  width:100%;
}

.Details_image{
  background-color: lightblue;
  height: 20rem;
  flex:1 1 20rem;
}

.Details_title_rating_why{
  flex:1 1 20rem;
  align-items: center;
  justify-content: center;
}


